[package]
name = "hbackup"
version = "0.5.3"
edition = "2024"
authors = ["asthetik"]
homepage = "https://github.com/asthetik/hbackup"
repository = "https://github.com/asthetik/hbackup"
description = """
hbackup is a sample, high-performance, cross-platform backup tool written
in Rust. It is designed to be fast, efficient, and easy to use,
with a focus on performance and reliability.
"""
license = "MIT"
keywords = ["hbackup", "bk", "backup", "cli"]
categories = ["command-line-utilities"]
exclude = [
    ".github/*",
    "scripts/*",
    "deny.toml",
]
rust-version = "1.85.0"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
serde = { version = "1.0.228", features = ["derive"] }
anyhow = "1.0.100"
dirs = "6.0.0"
toml = "0.9.10"
flate2 = "1.1.5"
tar = "0.4.44"
walkdir = "2.5.0"
zip = { version = "7.0.0", default-features = false, features = ["deflate"] }
sevenz-rust2 = { version = "0.20.0", features = ["compress"] }
zstd = "0.13.3"
bzip2 = "0.6.1"
xz2 = { version = "0.1.7", features = ["static"] }
lz4 = "1.28.1"
tokio = { version = "1.48.0", features = ["rt-multi-thread", "fs"] }
futures = "0.3.31"

[dev-dependencies]
tempfile = "3.24.0"
criterion = { version = "0.7.0", features = ["html_reports"] }
rand = "0.9.2"
assert_fs = "1.1.3"
predicates = "3.1.3"
tokio = { version = "1.48.0", features = ["rt", "macros", "test-util"] }
assert_cmd = "2.1.1"

[[bin]]
name = "bk"
path = "src/main.rs"

[profile.release]
debug = 1
panic = "abort"

[profile.release-lto]
inherits = "release"
opt-level = 3
strip = "symbols"
lto = "fat"
panic = "abort"
debug-assertions = false
incremental = false
codegen-units = 1
